@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@layer base {
  @font-face {
    font-family: Splatfont;
    src: url('/fonts/Splatfont.woff') format('woff');
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 1.1em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.splatfont {
  --tw-text-opacity: 1;
  color: rgba(31, 41, 55, var(--tw-text-opacity));
  letter-spacing: 0.2rem;
  font-family: Splatfont, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* .shadow {
  text-shadow:
    2px 2px 0px rgba(31, 41, 55),
    2px -2px 0px rgba(31, 41, 55),
    -2px 2px 0px rgba(31, 41, 55),
    -2px -2px 0px rgba(31, 41, 55);
  --tw-shadow: none;
} */

.content {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* h系タグのfont-sizeとline-heightはtailwindのFont Sizeを丸パクリしている */
.content h2 {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
}

.content h3 {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.content h4 {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.content h5 {
  margin-bottom: 1rem;
  font-weight: bold;
}

.content > ul > li {
  line-height: 1.8rem;
  list-style-type: disc;
  list-style-position: inside;
}

.content ul {
  margin-bottom: 1rem;
}

.content > ul > li > ul > li {
  line-height: 1.8rem;
  margin-left: 1rem;
  list-style-type: circle;
  list-style-position: inside;
}

.content > ul > li > ul > li ul li {
  line-height: 1.8rem;
  margin-left: 2rem;
  list-style-type: square;
  list-style-position: inside;
}

.content pre {
  padding: 0.3rem;
  margin-bottom: 1rem;
  white-space: pre-wrap;
  background-color: rgba(209, 213, 219);
}

.content p > code {
  padding: 0.3rem;
  line-height: 1.8rem;
  background-color: rgba(209, 213, 219);
}

.content pre > code {
  line-height: 1.8rem;
  background-color: rgba(209, 213, 219);
}

.content p {
  margin-bottom: 1rem;
  line-height: 1.8rem;
}
