@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@layer base {
  @font-face {
    font-family: Splatfont;
    src: url('../public/fonts/Splatfont.ttf') format('ttf');
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 1.1em;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.splatfont {
  letter-spacing: 0.2rem;
  font-family: Splatfont, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.content h1 {
  font-weight: bold;
  font-size: xx-large;
}

.content h2 {
  font-weight: bold;
  font-size: x-large;
}

.content h3 {
  font-weight: bold;
  font-size: large;
}

.content h4 {
  font-size: large;
}

.content > ul > li {
  list-style-type: disc;
  list-style-position: inside;
}

.content > ul > li > ul > li {
  margin-left: 1rem;
  list-style-type: circle;
  list-style-position: inside;
}

.content > ul > li > ul > li ul li {
  margin-left: 2rem;
  list-style-type: square;
  list-style-position: inside;
}

.content code, .content pre {
  background-color: rgba(209, 213, 219);
}

.content p {
  line-height: 2rem;
}
